<h2>Melted Polar Ice Caps</h2>
<div class="chart-wrapper" *ngIf="!errorMessage">
    <div>
    </div>
    <canvas baseChart
    [type]="'line'"
    [datasets]="datasets"
    [labels]="lables"
    ></canvas>
</div>

<div>
    <p>The arctic is warming around twice as fast as global average. Some of the reasons for this are: The arctic amplification, the albedo effect, and black carbon. From 1979 to 1996, we lost 2.2 – 3% of the arctic ice cover. From 2010 to present we are losing 12.85% per decade!</p>

    <p>Another consequence is permafrost thawing. This is a process in which large amounts of methane is released to the atmosphere, fueling more the process of global warming.</p>

    <p>For more detailed information please visit <a href="https://global-warming.org/"></a>Global Warming website</p>

</div>
<app-error [errorMessage]="errorMessage"></app-error>

<app-go-back-btn></app-go-back-btn>
