<div>
    <p>
        Designed and developed by
        <a target="_blank" rel="noopener" href="https://twitter.com/zlatov_cristina">Cristina Zlatov</a>,
        <a target="_blank" rel="noopener" href="https://github.com/C-ZLTV/global-warming-charts-angular"> source code</a>
    </p>
    <div>
        <div class="color arctic-color"></div>
        <div class="color co2-color"></div>
        <div class="color methane-color"></div>
        <div class="color no2-color"></div>
        <div class="color temp-color"></div>
    </div>
</div>
