.go-to-homepage {
    border: 1px solid var(--secondary-color);
    border-radius: 1px;
    padding: 0.4rem 0.5rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}