<h2>Nitrous Oxide levels</h2>
<div class="chart-wrapper" *ngIf="!errorMessage">
    <canvas baseChart
    [type]="'line'"
    [datasets]="dataSet"
    [labels]="labels"
    [options]="chartOptions"
    ></canvas>
</div>

<div>
    <p>Nitrous oxide is a gas that is produced by the combustion of fossil fuel and solid waste, nitrogen-base fertilizers, sewage treatment plants, natural processes, and other agricultural and industrial activities.</p>

    <p>It is the third largest heat-trapping gas in the atmosphere and the biggest ozone-destroying compound emitted by human activities.</p>

    <p>For more detailed information please visit <a href="https://global-warming.org/"></a>Global Warming website</p>
</div>

<app-error [errorMessage]="errorMessage"></app-error>
<app-go-back-btn></app-go-back-btn>
