<nav>
    <ul class="nav-list">
        <li routerLink="/homepage"
            class="route homepage-route">
            Homepage
        </li>
        <li routerLink="/arctic"
            class="route arctic-route">
            Arctic
        </li>
        <li routerLink="/co2"
            class="route co2-route">
            CO2
        </li>
        <li routerLink="/methane"
            class="route methane-route">
            Mathane
        </li>
        <li routerLink="/no2"
            class="route no2-route">
            NO2
        </li>
        <li routerLink="/temperature"
            class="route temp-route">
            Temprature
        </li>
    </ul>
</nav>
