* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1ff;
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}